<md-content flex layout="column" class="Page-Container" ng-controller="UsersListController as vm">
  <h1 class="md-title" layout-padding>Администрирование пользователей системы</h1>

  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-toolbar-tools">
        <span>Пользователи</span>
      </h2>
      <span flex></span>
      <md-button ng-href="management/users/create" class="md-raised">Добавить</md-button>
    </div>
  </md-toolbar>
  <md-content layout="column">
    <md-list>
      <md-list-item class="secondary-button-padding" ng-repeat="user in vm.users" ng-click="null">
        <div class="md-list-item-text">
          <h3 class="md-subhead">{{ user.name }}</h3>
          <h4 class="md-subhead">{{ user.email }}</h4>
        </div>
        <md-button class="md-secondary md-primary" ng-click="vm.remove(user)">Удалить</md-button>

        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</md-content>
