<md-content class="Page-Container" ng-controller="DisciplineDetailsController as vm">
  <h1 class="md-title" layout-padding>Администрирование учебных дисциплин</h1>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-href="management/disciplines" aria-label="back">
          Назад
        </md-button>
        <h2>
          <span>Просмотр учебной дисциплины: {{ vm.discipline.full_name }}</span>
        </h2>
        <span flex></span>
        <md-button ng-click="vm.goToThemes()" class="md-raised">Темы дисциплины</md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-subheader>Основные данные:</md-subheader>
      <p class="md-body-1">Полное название дисциплины: {{ vm.discipline.full_name }}</p>
      <p class="md-body-1">Аббревиатура: {{ vm.discipline.short_name }}</p>

      <div ng-if="vm.discipline.specialties.data.length !== 0">
        <md-subheader>Дисциплина ассоциирована со специальностями</md-subheader>
        <md-chips>
            <md-chip ng-repeat="specialty in vm.discipline.specialties.data">{{ specialty.code }}</md-chip>
        </md-chips>
      </div>
    </div>
</md-content>
