<form name="themeForm">
  <md-subheader>Основная информация</md-subheader>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Номер темы</label>
    <input required name="themeNumber" ng-model="vm.theme.number">
    <div ng-messages="themeForm.themeNumber.$error" role="alert">
      <div ng-message="required">
        Введите номер темы
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Наименование темы</label>
    <input required name="themeName" ng-model="vm.theme.name">
    <div ng-messages="themeForm.themeName.$error" role="alert">
      <div ng-message="required">
        Введите название темы
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Семестр обучения</label>
    <md-select required name="themeTerm" ng-model="vm.theme.term">
            <md-option ng-repeat="term in [1, 2, 3, 4, 5, 6, 7]" ng-value="term">
              {{ term }}
            </md-option>
    </md-select>
    <div ng-messages="themeForm.themeTerm.$error" role="alert">
      <div ng-message="required">
        Выберете семестр обучения
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Продолжительность занятия в академ. часах</label>
    <md-select required name="themeDuration" ng-model="vm.theme.duration">
            <md-option ng-repeat="duration in [1, 2, 4, 6]" ng-value="duration">
              {{ duration }}
            </md-option>
    </md-select>
    <div ng-messages="themeForm.themeDuration.$error" role="alert">
      <div ng-message="required">
        Укажите длительность занятия
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm layout-padding>
    <md-checkbox ng-model="vm.theme.self_study" name="selfStudy" aria-label="self study checkbox">
      Тема для самоподготовки?
    </md-checkbox>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Необходимое количество аудиторий</label>
    <md-select required name="themeAudiences" ng-model="vm.theme.audiences_count">
            <md-option ng-repeat="cnt in [1, 2, 3]" ng-value="cnt">
              {{ cnt }}
            </md-option>
    </md-select>
    <div ng-messages="themeForm.themeAudiences.$error" role="alert">
      <div ng-message="required">
        Выберите количество аудиторий
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Необходимое количество преподавателей</label>
    <md-select required name="themeTeachers" ng-model="vm.theme.teachers_count">
            <md-option ng-repeat="cnt in [1, 2, 3]" ng-value="cnt">
              {{ cnt }}
            </md-option>
    </md-select>
    <div ng-messages="themeForm.themeTeachers.$error" role="alert">
      <div ng-message="required">
        Укажите количество преподавателей
      </div>
    </div>
  </md-input-container>

  <md-subheader>Прикрепить преподавателей</md-subheader>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Выберите преподавателей</label>
    <md-chips ng-model="vm.theme.teachers.data" md-autocomplete-snap md-require-match="true">
        <md-autocomplete
                         md-search-text="vm.query"
                         md-items="teacher in vm.teachersSearch(vm.query)"
                         md-item-text="name"
                         md-min-length="0"
                         md-no-cache="true"
                         md-require-match="true"
                         placeholder="Выберите преподавателей">
            <span md-highlight-text="vm.query">{{ teacher.name }}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>{{$chip.name}}</span>
        </md-chip-template>
    </md-chips>
  </md-input-container>

  <md-subheader>Прикрепить аудитории</md-subheader>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Выберите аудитории</label>
    <md-chips ng-model="vm.theme.audiences.data" md-autocomplete-snap md-require-match="true">
        <md-autocomplete
                         md-search-text="vm.audiencesQuery"
                         md-items="audience in vm.audiencesSearch(vm.audiencesQuery)"
                         md-item-text="location"
                         md-min-length="0"
                         md-no-cache="true"
                         md-require-match="true"
                         placeholder="Выберите аудитории">
            <span md-highlight-text="vm.audiencesQuery">{{ audience.location }}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>{{$chip.location}}</span>
        </md-chip-template>
    </md-chips>
  </md-input-container>


  <md-button class="md-primary" ng-click="vm.getSetPrevThemesModal()">Настроить предшествующие темы</md-button>

  <div ng-if="!theme">
    <md-button ng-disabled="vm.buttonLocked || themeForm.$invalid" class="md-raised" ng-click="vm.create(); vm.checkLogic();">Создать тему</md-button>
  </div>
  <div ng-if="theme">
    <md-button ng-disabled="vm.buttonLocked || themeForm.$invalid" class="md-raised" ng-click="vm.update(); vm.checkLogic();">Обновить тему</md-button>
    <md-button ng-disabled="vm.buttonLocked || themeForm.$invalid" class="md-raised md-warn" ng-click="vm.delete()">Удалить тему</md-button>
  </div>

</form>
