<div class="Page-Container" ng-cloak ng-controller="SpecialtyDetailsController as vm">
    <h1 class="md-title" layout-padding>Администрирование учебных специальностей</h1>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ui-sref="management.specialties-list" aria-label="back">
                Назад
            </md-button>
            <h2>
                <span>Просмотр учебной специальности: {{ vm.specialty.code }}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div layout-padding>
        <p class="md-body-1">Код специальности: {{ vm.specialty.code }}</p>


        <md-subheader>Взводы, обучающиеся по данной специальности</md-subheader>
        <md-chips>
            <md-chip ng-repeat="troop in vm.specialty.troops">{{ troop.code }}</md-chip>
        </md-chips>

        <div ng-if="vm.specialty.disciplines.length !== 0">
            <md-subheader>Дисцилины, прикрепленные к данной специальности</md-subheader>
            <md-chips>
                <md-chip ng-repeat="discipline in vm.specialty.disciplines">{{ discipline.short_name }}</md-chip>
            </md-chips>
        </div>

    </div>
    <md-card ng-if="vm.course_length.length">
           <md-card-content>
               <md-table-container>
                   <table md-table>
                       <thead md-head md-order="vm.tableParams.order">
                       <tr md-row>
                           <th md-column><span>Дисциплина</span></th>
                           <th md-column><span>1 Семестр</span></th>
                           <th md-column><span>2 Семестр</span></th>
                           <th md-column><span>3 Семестр</span></th>
                           <th md-column><span>4 Семестр</span></th>
                           <th md-column><span>5 Семестр</span></th>
                       </tr>
                       </thead>
                       <tbody md-body>
                       <tr md-row
                           ng-repeat="discipline in vm.course_length | limitTo: vm.tableParams.limit: (vm.tableParams.page - 1) * vm.tableParams.limit">
                           <td md-cell>{{ discipline.discipline }}</td>
                           <td ng-repeat="term in [0, 1, 2, 3, 4]" md-cell>
                             {{ discipline.terms[term].lessons +  discipline.terms[term].self_education}} / {{ discipline.terms[term].lessons }} / {{ discipline.terms[term].self_education }}
                           </td>
                       </tr>
                       </tbody>
                   </table>
               </md-table-container>

               <md-table-pagination md-limit="vm.tableParams.limit" md-limit-options="[5, 10, 20]"
                                    md-page="vm.tableParams.page" md-total="{{ vm.course_length.length }}"
                                    md-page-select></md-table-pagination>
           </md-card-content>
       </md-card>
</div>
