<md-content class="Page-Container" ng-controller="ThemeDetailsController as vm">
  <h1 class="md-title" layout-padding>Администрирование тем учебных дисциплин</h1>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-click="vm.goBack()" aria-label="back">
          Назад
        </md-button>
        <h2>
          <span>Просмотр темы № {{ vm.theme.number }} учебной дисциплины {{ vm.theme.discipline }}</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-subheader>Основные данные:</md-subheader>
      <p class="md-body-1">Наименование темы: {{ vm.theme.name }}</p>
      <p class="md-body-1">Семестр обучения: {{ vm.theme.term }}</p>
      <p class="md-body-1">Продолжительность занятия в академ. часах: {{ vm.theme.duration }}</p>
      <p class="md-body-1">Необходимое количество преподавателей: {{ vm.theme.teachers_count }}</p>
      <p class="md-body-1">Необходимое количество аудиторий: {{ vm.theme.audiences_count }}</p>

      <div ng-if="vm.theme.teachers.data.length !== 0">
        <md-subheader>Прикрепленные преподаватели</md-subheader>
        <md-chips>
            <md-chip ng-repeat="teacher in vm.theme.teachers.data">{{ teacher.name }}</md-chip>
        </md-chips>
      </div>

      <div ng-if="vm.theme.audiences.data.length !== 0">
        <md-subheader>Прикрепленные аудитории</md-subheader>
        <md-chips>
            <md-chip ng-repeat="audience in vm.theme.audiences.data">{{ audience.location }}</md-chip>
        </md-chips>
      </div>

      <div ng-if="vm.theme.prevThemes.data.length !== 0">
        <md-subheader>Обязательные предшествующие темы</md-subheader>
        <md-chips>
            <md-chip ng-repeat="theme in vm.theme.prevThemes.data">{{ theme.discipline }} : №{{ theme.number }}</md-chip>
        </md-chips>
      </div>

    </div>
</md-content>
