<md-subheader>Основаная информация</md-subheader>
<form name="disciplineForm">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Полное название дисциплины</label>
    <input name="disciplineName" required ng-model="vm.discipline.full_name">
    <div ng-messages="disciplineForm.disciplineName.$error" role="alert">
      <div ng-message-exp="['required']">
        Введите имя дисциплины
      </div>
    </div>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Аббревиатура</label>
    <input name="disciplineAbbr" required ng-model="vm.discipline.short_name">
    <div ng-messages="disciplineForm.disciplineAbbr.$error" role="alert">
      <div ng-message-exp="['required']">
        Введите аббревиатуру дисциплины
      </div>
    </div>
  </md-input-container>

  <div ng-if="!discipline">
    <md-button ng-disabled="vm.buttonLocked || disciplineForm.$invalid" class="md-raised" ng-click="vm.create()">Создать дисциплину</md-button>
  </div>
  <div ng-if="discipline">
    <md-button ng-disabled="vm.buttonLocked || disciplineForm.$invalid" class="md-raised" ng-click="vm.update()">Обновить дисциплину</md-button>
    <md-button ng-disabled="vm.buttonLocked || disciplineForm.$invalid" class="md-raised md-warn" ng-click="vm.delete()">Удалить дисциплину</md-button>
  </div>
</form>
