<md-content class="Page-Container" ng-controller="ManagementDashController as vm">
  
    <!--<h1 class="md-title" layout-padding>Статистика нагрузки</h1>
    <md-subheader>Временной диапазон</md-subheader>
    <md-datepicker ng-model="vm.from" md-placeholder="Начиная с"></md-datepicker>
    <md-datepicker ng-model="vm.to" md-placeholder="По"></md-datepicker>
    <md-button class="md-raised" ng-disabled="vm.loading" ng-click="vm.loadCharts()">Загрузить данные</md-button>
  <div layout="row" ng-if="vm.chartsReady">
    <div flex="49" class="">
    <h1 class="md-title" layout-padding>Суммарное количество часов</h1>
    <canvas id="ba" class="chart chart-bar"
      chart-data="vm.absolute.data" chart-labels="vm.absolute.labels">
    </canvas>
    </div>

    <div flex="49" class="">
      <h1 class="md-title" layout-padding>Коэффициент нагрузки</h1>
      <canvas id="bar" class="chart chart-bar"
        chart-data="vm.relatively.data" chart-labels="vm.relatively.labels">
      </canvas>
    </div>
  </div>-->

  <div layout="column" flex="40" layout-padding>
    <h1 class="md-title" layout-padding>Работа с расписанием</h1>
    <md-subheader>Составление расписания</md-subheader>
    <form ng-if="!vm.progress" name="scheduleForm">
      <md-datepicker ng-model="vm.scheduleParams.start_date" md-placeholder="Начало семестра"></md-datepicker>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Количество недель</label>
        <input name="term_length" required ng-model="vm.scheduleParams.term_length">
      </md-input-container>
      <div layout="row">
        <md-button class="md-raised md-warn" ng-click="vm.buildSchedule()">Составить</md-button>
      </div>
    </form>
    <md-progress-linear ng-if="vm.progress" md-mode="determinate" value="{{ vm.progress * 100 }}"></md-progress-linear>
    <md-subheader>Экспорт расписания</md-subheader>
    <div layout="row">
      <md-progress-linear ng-if="vm.exporting" md-mode="indeterminate"></md-progress-linear>
      <md-button ng-if="!vm.exporting" class="md-raised md-primary" ng-click="vm.localExport()">Экспортировать</md-button>
      <md-button ng-if="vm.scheduleExportLink" class="md-raised md-warn" ng-href="{{ vm.scheduleExportLink }}" download="xlsx">Скачать</md-button>
    </div>
  </div>


</md-content>
