<md-content class="Page-Container" ng-controller="ManagementDashController as vm">
    <h1 class="md-title" layout-padding>Статистика нагрузки</h1>
    <md-subheader>Временной диапазон</md-subheader>
    <md-datepicker ng-model="vm.from" md-placeholder="Начиная с"></md-datepicker>
    <md-datepicker ng-model="vm.to" md-placeholder="По"></md-datepicker>
    <md-button class="md-raised" ng-disabled="vm.loading" ng-click="vm.loadCharts()">Загрузить данные</md-button>
  <div layout="row" ng-if="vm.chartsReady">
    <div flex="49" class="">
    <h1 class="md-title" layout-padding>Суммарное количество часов</h1>
    <canvas id="ba" class="chart chart-bar"
      chart-data="vm.absolute.data" chart-labels="vm.absolute.labels">
    </canvas>
    </div>

    <div flex="49" class="">
      <h1 class="md-title" layout-padding>Коэффициент нагрузки</h1>
      <canvas id="bar" class="chart chart-bar"
        chart-data="vm.relatively.data" chart-labels="vm.relatively.labels">
      </canvas>
    </div>
  </div>

  <div layout="column" flex="40" layout-padding>
    <h1 class="md-title" layout-padding>Экспорт расписания в Excell</h1>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Для взводов</label>
      <md-chips ng-model="vm.troopsForExport" md-autocomplete-snap md-require-match="true">
          <md-autocomplete
                           md-search-text="vm.troopQuery"
                           md-items="troop in vm.troopsSearch(vm.troopQuery)"
                           md-item-text="troop.code"
                           md-min-length="0"
                           md-no-cache="true"
                           md-require-match="true">
              <span md-highlight-text="vm.troopQuery">{{ troop.code }}</span>
          </md-autocomplete>
          <md-chip-template>
              <span>{{ $chip.code}}</span>
          </md-chip-template>
      </md-chips>
    </md-input-container>
    <div layout="row">
      <md-button class="md-raised" ng-click="vm.export()">Экспорт</md-button>
    </div>


  </div>

  <div layout="column" flex="40" layout-padding>
    <h1 class="md-title" layout-padding>Генерация расписания</h1>
    <div layout="row">
      <md-button class="md-raised md-warn" ng-click="vm.generate()">Запуск</md-button>
    </div>
  </div>


</md-content>
