<div ng-controller="HeaderController as vm">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="vm.toggle()" class="md-raised">
				Навигация
			</md-button>
		</div>
	</md-toolbar>

	<md-sidenav md-component-id="sidebar" md-is-open="vm.sidebarIsOpened">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="md-subhead">Расписание</h2>
			</div>
		</md-toolbar>
		<md-subheader>Панели</md-subheader>
		<md-divider></md-divider>
			<md-list>
				<md-list-item class="secondary-button-padding" ng-repeat="item in vm.dashboardsMenuItems" ng-click="vm.toggle();vm.go(item)">
					<h4 class="md-subhead">{{ item.text }}</h4>
				</md-list-item>
			</md-list>

		<md-subheader>Управление данными</md-subheader>
		<md-divider></md-divider>

			<md-list>
				<md-list-item class="secondary-button-padding" ng-repeat="item in vm.scheduleMenuItems" ng-click="vm.toggle();vm.go(item)">
					<h4 class="md-subhead">{{ item.text }}</h4>
				</md-list-item>
			</md-list>

		<md-subheader>Настройки</md-subheader>
		<md-divider></md-divider>
		<md-list>
			<md-list-item class="secondary-button-padding" ng-repeat="item in vm.settingsMenuItems" ng-click="vm.toggle();vm.go(item)">
				<h4 class="md-subhead">{{ item.text }}</h4>
			</md-list-item>
		</md-list>
	</md-sidenav>
</div>
