<md-content class="AppPage" layout="column" layout-align="start center" ng-controller="LoginController as vm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Вход</span>
                </h3>
            </div>
        </md-toolbar>
        <form name="LoginForm" ng-submit="vm.login(vm.email, vm.password)">
            <div>
                <md-input-container class="AppForm-inputContainer">
                    <label>Email</label>
                    <input required name="email" type="email" ng-model="vm.email">
                </md-input-container>
            </div>

            <div>
                <md-input-container class="AppForm-inputContainer">
                    <label>Пароль</label>
                    <input required type="password" ng-model="vm.password">
                </md-input-container>
            </div>

            <div layout="column" layout-align="center center">
                <md-button type="submit" class="AppForm-submit md-primary md-raised">Войти</md-button>
            </div>
        </form>
</md-content>
