<div>
  <md-subheader>Основная информация</md-subheader>
<form name="specialtyForm">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Код специальности</label>
    <input name="specialtyCode" required minlength="3" ng-model="vm.specialty.code">
    <div ng-messages="specialtyForm.specialtyCode.$error" role="alert">
      <div ng-message-exp="['required', 'minlength']">
        Код специальности должен быть длиннее 3-х символов
      </div>
    </div>
  </md-input-container>

  <div ng-if="!specialty">
    <md-button ng-disabled="vm.buttonLocked || specialtyForm.$invalid" class="md-raised" ng-click="vm.create()">Создать специальность</md-button>
  </div>
  <div ng-if="specialty">
    <md-button ng-disabled="vm.buttonLocked || specialtyForm.$invalid" class="md-raised" ng-click="vm.update()">Обновить специальность</md-button>
    <md-button ng-disabled="vm.buttonLocked" class="md-raised md-warn" ng-click="vm.delete()">Удалить специальность</md-button>
  </div>

  </form>
</div>
